In [2]:
import pandas as pd

In [3]:
data = "USCS_OverviewMap.csv"
data2= "pollution_us_2010.csv"

In [4]:
lung_cancer = pd.read_csv(data)

pollution_data = pd.read_csv(data2)

lung_cancer.head()

,Area,CancerType,Year,Sex,AgeAdjustedRate,CaseCount,Population
0,Utah,Lung and Bronchus,2016,Male and Female,25.1,652,3044321
1,New Mexico,Lung and Bronchus,2016,Male and Female,36.4,950,2085432
2,Arizona,Lung and Bronchus,2016,Male and Female,44.3,3886,6908642
3,California,Lung and Bronchus,2016,Male and Female,38.2,16177,39296476
4,Colorado,Lung and Bronchus,2016,Male and Female,40.2,2346,5530105

In [5]:
pollution_clean = pollution_data[['State', 'NO2 Units', 'NO2 Mean', 'O3 Units', 'O3 Mean', 'SO2 Units', 'SO2 Mean', 'CO Units', 'CO Mean']]
pollution_group = pollution_clean.groupby(['State'])
pollution_state = pollution_group.mean()
pollution_state.head()

              NO2 Mean   O3 Mean  SO2 Mean   CO Mean
State
Arizona      15.916712  0.025903  1.047033  0.365168
Arkansas     10.004749  0.027650  1.292494  0.454634
California   12.247269  0.025669  0.720866  0.344747
Colorado     16.171138  0.022955  1.028090  0.365696
Connecticut   9.739028  0.027474  0.949623  0.279957